ul,
ul > li {
  margin: 0;
  padding: 0;
}

* {
  --navbarHeight: 70px;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#navbar {
  z-index: 10;
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: var(--navbarHeight);
  background-color: var(--darkGray);
  position: relative;
}

#navbar > img {
  height: var(--navbarHeight);
  left: 20px;
  top: -1px;
  position: absolute;
  object-fit: cover;
}

#navbar > ul {
  z-index: 11;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 4em;
  list-style-type: none;
  height: 100%;
  text-align: center;
  align-items: center;
  margin-inline: auto;
  width: fit-content;
}

#navbar > ul > li > a,
#navbar > ul > li > div {
  color: var(--white);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar > ul > li:hover {
  cursor: pointer;
}

#productsDropdownBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  position: relative;
}

#productsDropdownBtn:hover {
  cursor: pointer;
}

#navbar > ul > li > a:hover,
#navbar > ul > li > div:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #navbar > ul {
    gap: 1em;
  }
}

@media screen and (max-width: 400px) {
  #navbar > ul {
    gap: 0.2em;
  }
}

#productsDropdown {
  z-index: 9;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  margin-top: -2px;
  width: 100vw;
  background-color: var(--darkGray);
  transition: 0.2s ease-in-out all;
}

#productsDropdown > ul {
  text-align: center;
}

#productsDropdown > ul > li {
  list-style-type: none;
  text-align: center;
}

#productsDropdown > ul > li > a {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

#productsDropdown.hidden {
  height: 0px;
}

#productsDropdown.active {
  height: 10vh;
}
