<link rel="stylesheet" href="/globals.css" />
<link rel="stylesheet" href="/navbar/navbar.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
  rel="stylesheet"
/>
<div class="navbarBackground" id="navbar">
  <img src="/android-chrome-192x192.png" />
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li id="productsDropdownBtn">
      <a id="productsBtn">Products</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
  <div id="productsDropdown" class="hidden">
    <ul>
      <li>
        <a href="/products">All Products</a>
      </li>
      <li>
        <a href="/products/smiley_beanie">Beanies</a>
      </li>
    </ul>
  </div>
</div>
<script type="module" src="/navbar/navbar.js"></script>
